@font-face {
    font-family: "GARFIELD the CAT V2";
    src: url(/css/fonts/6ccb6be714c1da7517334fb4f037d2ab.svg),
        url(./fonts/6ccb6be714c1da7517334fb4f037d2ab.eot),
        url(./fonts/6ccb6be714c1da7517334fb4f037d2ab.ttf),
        url(./fonts/6ccb6be714c1da7517334fb4f037d2ab.woff),
        url(./fonts/6ccb6be714c1da7517334fb4f037d2ab.woff2)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    position: relative;
}

.layout-header {
    background-color: aliceblue;
    width: 100%;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 4px 5px 0px rgba(214, 214, 214, 1);
    box-shadow: 0px 4px 5px 0px rgba(214, 214, 214, 1);
}

.layout-header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    height: 90px;
}

.layout-header__navegation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-header__navegation ul {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    list-style: none;
}

.layout-header__navegation ul li a {
    text-decoration: none;
    color: rgb(194, 189, 189);
    font-size: 24px;
    transition: all .1s linear;
    font-family: "GARFIELD the CAT V2";
}

.layout-header__navegation ul li a:hover {
    color: blueviolet;
    font-size: 26px;
    transform: scale(1.1, 1.1);
}

.layout-container__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.layout-footer {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 35px;
    align-items: center;
    color: aliceblue;
    width: 100%;

    position: fixed;
    left: 0px;
    bottom: 0px;
}

.layout-header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layout-header__logo p {
    font-family: "GARFIELD the CAT V2";
    font-size: 32px;
}

.layout-content {
    display: flex;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f6f7f9;
}

.layout-content__peliItem {
    width: 20%;
    border-radius: 22px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px #ddd;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 25px;
}

.layout-lateral{
    width: 30%;
}